.header-logo {
    width: 90vw;
	background-image: url("../../assets/img/alt-chal-1.png")!important;
	background-position: rigth ;
	background-size: 80px;
	background-repeat:no-repeat;
    color: white;
}

.nowr {
	white-space: nowrap;
}
