<app-header></app-header>

<div class="wannalog" *ngIf="isLoggedIn === false">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!--
        <div id="g_id_onload"
        data-client_id="497387296496-92inc3c9oqnmtbjok3u40fbo4pl1h163.apps.googleusercontent.com"
        data-login_uri=""
        data-auto_prompt="false">
        </div>
        <div class="g_id_signin "
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="center"
        data-onsuccess="mySignin">
        </div>
-->
            <asl-google-signin-button text="continue_with" type="standard" size="large" shape="square"
                logo_alignment="center"></asl-google-signin-button>
            <br />
            <button (click)="loginWithFacebook()" mat-mini-fab color="special" aria-label="Connexion avec Facebook"
                matTooltip="Connexion avec facebook">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24"
                    viewBox="0 0 24 24" width="24">
                    <rect fill="none" height="24" width="24" />
                    <path fill="#1877F2"
                        d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z" />
                </svg>
            </button>
            <br />
            <br />
            <div class="fb-login-button" data-width="" data-size="" data-button-type="" data-layout=""
                data-auto-logout-link="true" data-use-continue-as="true"></div>
            <!--
-->

        </mat-card-content>
        <mat-card-footer>{{error}}</mat-card-footer>
    </mat-card>
</div>
<div class="wannalog" *ngIf="isLoggedIn === true">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Signed In</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-group">
                <label>First Name</label>
                <input label="firstname" matInput type="text" class="form-control" [value]="socialUser.firstName"
                    id="firstname" readonly>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
        </mat-card-footer>
    </mat-card>
</div>

<app-footer [isLoggedIn]="isLoggedIn" [user]="user"></app-footer>