
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$altered-challenges-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($altered-challenges-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($altered-challenges-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($altered-challenges-theme);
/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/alt-screen-1.png');
	background-position: top center;
	background-repeat:no-repeat
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sidenav-container {
    flex: 1;
    .sidenav {
        min-width: 240px;
        a {
            display: block;
            padding: 6px 24px;
            width: 100%;
            text-align: left;
        }
    }
}

.expanded {
height: calc(100vh - 108px);
}

.shrinked {
height: 0px;
}

.spacer {
flex: 1 1 auto;
}

.vertical-spacer {
height: 100px; 
display:block;
}